# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df['credit_ranking']

# Display a sample of y
y.head()

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop('credit_ranking', axis=1)

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler().fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)

# Fit the scaler to the features training dataset
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
number_of_features = X.shape[1]

# Review the number of features
number_of_features

11

In [10]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_first_layer = 6

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_first_layer = 5

# Define the number of neurons in the output layer
output_neurons = 1

In [13]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=6, activation="relu", input_dim=number_of_features))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units = 1, activation ="sigmoid"))

In [12]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 121 (484.00 Byte)
Trainable params: 121 (484.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [14]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 575us/step - loss: 0.5006 - accuracy: 0.7515
Epoch 2/50
38/38 [==============================] - 0s 518us/step - loss: 0.4993 - accuracy: 0.7523
Epoch 3/50
38/38 [==============================] - 0s 530us/step - loss: 0.4986 - accuracy: 0.7565
Epoch 4/50
38/38 [==============================] - 0s 589us/step - loss: 0.4986 - accuracy: 0.7556
Epoch 5/50
38/38 [==============================] - 0s 497us/step - loss: 0.4975 - accuracy: 0.7523
Epoch 6/50
38/38 [==============================] - 0s 491us/step - loss: 0.4972 - accuracy: 0.7556
Epoch 7/50
38/38 [==============================] - 0s 505us/step - loss: 0.4961 - accuracy: 0.7590
Epoch 8/50
38/38 [==============================] - 0s 498us/step - loss: 0.4962 - accuracy: 0.7573
Epoch 9/50
38/38 [==============================] - 0s 498us/step - loss: 0.4957 - accuracy: 0.7615
Epoch 10/50
38/38 [==============================] - 0s 511us/step - loss: 0.4947 - accuracy: 0.7631
Epoch 11/50
38/38 [==============================] - 0s 539us/step - loss: 0.4942 - accuracy: 0.7656
Epoch 12/50
38/38 [==============================] - 0s 540us/step - loss: 0.4933 - accuracy: 0.7640
Epoch 13/50
38/38 [==============================] - 0s 623us/step - loss: 0.4934 - accuracy: 0.7681
Epoch 14/50
38/38 [==============================] - 0s 560us/step - loss: 0.4926 - accuracy: 0.7631
Epoch 15/50
38/38 [==============================] - 0s 545us/step - loss: 0.4916 - accuracy: 0.7640
Epoch 16/50
38/38 [==============================] - 0s 576us/step - loss: 0.4916 - accuracy: 0.7665
Epoch 17/50
38/38 [==============================] - 0s 530us/step - loss: 0.4906 - accuracy: 0.7640
Epoch 18/50
38/38 [==============================] - 0s 572us/step - loss: 0.4905 - accuracy: 0.7681
Epoch 19/50
38/38 [==============================] - 0s 539us/step - loss: 0.4899 - accuracy: 0.7656
Epoch 20/50
38/38 [==============================] - 0s 531us/step - loss: 0.4893 - accuracy: 0.7673
Epoch 21/50
38/38 [==============================] - 0s 505us/step - loss: 0.4887 - accuracy: 0.7656
Epoch 22/50
38/38 [==============================] - 0s 502us/step - loss: 0.4884 - accuracy: 0.7648
Epoch 23/50
38/38 [==============================] - 0s 510us/step - loss: 0.4877 - accuracy: 0.7665
Epoch 24/50
38/38 [==============================] - 0s 542us/step - loss: 0.4870 - accuracy: 0.7698
Epoch 25/50
38/38 [==============================] - 0s 518us/step - loss: 0.4865 - accuracy: 0.7681
Epoch 26/50
38/38 [==============================] - 0s 489us/step - loss: 0.4865 - accuracy: 0.7690
Epoch 27/50
38/38 [==============================] - 0s 514us/step - loss: 0.4855 - accuracy: 0.7690
Epoch 28/50
38/38 [==============================] - 0s 497us/step - loss: 0.4846 - accuracy: 0.7681
Epoch 29/50
38/38 [==============================] - 0s 513us/step - loss: 0.4842 - accuracy: 0.7690
Epoch 30/50
38/38 [==============================] - 0s 514us/step - loss: 0.4833 - accuracy: 0.7681
Epoch 31/50
38/38 [==============================] - 0s 485us/step - loss: 0.4827 - accuracy: 0.7690
Epoch 32/50
38/38 [==============================] - 0s 505us/step - loss: 0.4829 - accuracy: 0.7706
Epoch 33/50
38/38 [==============================] - 0s 519us/step - loss: 0.4836 - accuracy: 0.7656
Epoch 34/50
38/38 [==============================] - 0s 559us/step - loss: 0.4821 - accuracy: 0.7698
Epoch 35/50
38/38 [==============================] - 0s 534us/step - loss: 0.4816 - accuracy: 0.7690
Epoch 36/50
38/38 [==============================] - 0s 504us/step - loss: 0.4810 - accuracy: 0.7665
Epoch 37/50
38/38 [==============================] - 0s 512us/step - loss: 0.4808 - accuracy: 0.7698
Epoch 38/50
38/38 [==============================] - 0s 516us/step - loss: 0.4803 - accuracy: 0.7690
Epoch 39/50
38/38 [==============================] - 0s 502us/step - loss: 0.4808 - accuracy: 0.7690
Epoch 40/50
38/38 [==============================] - 0s 476us/step - loss: 0.4801 - accuracy: 0.7690
Epoch 41/50
38/38 [==============================] - 0s 493us/step - loss: 0.4795 - accuracy: 0.7690
Epoch 42/50
38/38 [==============================] - 0s 478us/step - loss: 0.4791 - accuracy: 0.7673
Epoch 43/50
38/38 [==============================] - 0s 511us/step - loss: 0.4790 - accuracy: 0.7715
Epoch 44/50
38/38 [==============================] - 0s 527us/step - loss: 0.4785 - accuracy: 0.7706
Epoch 45/50
38/38 [==============================] - 0s 514us/step - loss: 0.4786 - accuracy: 0.7723
Epoch 46/50
38/38 [==============================] - 0s 517us/step - loss: 0.4783 - accuracy: 0.7723
Epoch 47/50
38/38 [==============================] - 0s 531us/step - loss: 0.4779 - accuracy: 0.7715
Epoch 48/50
38/38 [==============================] - 0s 549us/step - loss: 0.4774 - accuracy: 0.7715
Epoch 49/50
38/38 [==============================] - 0s 512us/step - loss: 0.4770 - accuracy: 0.7731
Epoch 50/50
38/38 [==============================] - 0s 524us/step - loss: 0.4766 - accuracy: 0.7706

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [17]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5193 - accuracy: 0.7350 - 21ms/epoch - 2ms/step
Loss: 0.5192583203315735, Accuracy: 0.7350000143051147

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [18]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [19]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [21]:
# Make predictions with the test data
predictions = nn_model.predict(X_test_scaled,verbose=2)

# Display a sample of the predictions
predictions

13/13 - 0s - 18ms/epoch - 1ms/step

array([[0.527122  ],
       [0.31152079],
       [0.86394596],
       [0.7175862 ],
       [0.9324926 ],
       [0.6164581 ],
       [0.92682207],
       [0.04548506],
       [0.5601316 ],
       [0.34461805],
       [0.8420883 ],
       [0.35331473],
       [0.4116786 ],
       [0.8857613 ],
       [0.51703626],
       [0.3652374 ],
       [0.8446984 ],
       [0.5145102 ],
       [0.77325267],
       [0.4843095 ],
       [0.5717969 ],
       [0.8792787 ],
       [0.33588567],
       [0.94898635],
       [0.27283183],
       [0.86412024],
       [0.864575  ],
       [0.60310024],
       [0.19010937],
       [0.22603363],
       [0.36897355],
       [0.95677966],
       [0.16929895],
       [0.9274056 ],
       [0.09040418],
       [0.6225155 ],
       [0.3309305 ],
       [0.33903465],
       [0.8336334 ],
       [0.3439046 ],
       [0.8499424 ],
       [0.0590381 ],
       [0.15885594],
       [0.8702171 ],
       [0.08658257],
       [0.74810266],
       [0.2265577 ],
       [0.27026886],
       [0.33103782],
       [0.8171237 ],
       [0.09217104],
       [0.27781323],
       [0.94477165],
       [0.05249413],
       [0.21307863],
       [0.64954674],
       [0.9001663 ],
       [0.8777753 ],
       [0.5601316 ],
       [0.21487506],
       [0.88784766],
       [0.24617176],
       [0.33408183],
       [0.29939693],
       [0.02592054],
       [0.40949127],
       [0.81891006],
       [0.6946209 ],
       [0.61700445],
       [0.96076095],
       [0.09040418],
       [0.81981444],
       [0.5038286 ],
       [0.62609106],
       [0.42598167],
       [0.40168425],
       [0.92897594],
       [0.19176579],
       [0.2397392 ],
       [0.6360657 ],
       [0.8528471 ],
       [0.10861154],
       [0.0722724 ],
       [0.40791723],
       [0.61716634],
       [0.08327669],
       [0.13280827],
       [0.92031884],
       [0.39057994],
       [0.7495485 ],
       [0.08904101],
       [0.88150537],
       [0.19782957],
       [0.9561709 ],
       [0.7890804 ],
       [0.20378216],
       [0.8664973 ],
       [0.4988739 ],
       [0.09799387],
       [0.8711952 ],
       [0.53390163],
       [0.463092  ],
       [0.2714736 ],
       [0.07809941],
       [0.04634027],
       [0.41832605],
       [0.59982944],
       [0.4316714 ],
       [0.8861296 ],
       [0.5357333 ],
       [0.9601623 ],
       [0.48689982],
       [0.75300306],
       [0.42719495],
       [0.2492368 ],
       [0.9786251 ],
       [0.258385  ],
       [0.08347005],
       [0.26354975],
       [0.27570942],
       [0.16499713],
       [0.9638841 ],
       [0.8876159 ],
       [0.37386167],
       [0.39117113],
       [0.4617246 ],
       [0.8513315 ],
       [0.21733424],
       [0.5601316 ],
       [0.6638412 ],
       [0.37414578],
       [0.2906862 ],
       [0.9215763 ],
       [0.10090756],
       [0.83880824],
       [0.72560346],
       [0.30549288],
       [0.9575623 ],
       [0.2773248 ],
       [0.3171607 ],
       [0.34926352],
       [0.4061833 ],
       [0.48584765],
       [0.3650451 ],
       [0.81819445],
       [0.8779248 ],
       [0.5614378 ],
       [0.07051208],
       [0.72108495],
       [0.7370415 ],
       [0.49157855],
       [0.91826797],
       [0.2070462 ],
       [0.30161825],
       [0.86314225],
       [0.9085445 ],
       [0.9283874 ],
       [0.92370754],
       [0.80062133],
       [0.29930848],
       [0.8814867 ],
       [0.6322595 ],
       [0.30804962],
       [0.12187584],
       [0.958092  ],
       [0.7579778 ],
       [0.4146102 ],
       [0.09050471],
       [0.17959021],
       [0.72739285],
       [0.33133247],
       [0.7988716 ],
       [0.20440786],
       [0.31530204],
       [0.9570641 ],
       [0.47899923],
       [0.36138716],
       [0.16381624],
       [0.34072715],
       [0.20378216],
       [0.49525768],
       [0.922528  ],
       [0.5934488 ],
       [0.39223206],
       [0.89887285],
       [0.95652795],
       [0.8478645 ],
       [0.44580007],
       [0.33614346],
       [0.1517699 ],
       [0.50641286],
       [0.5763976 ],
       [0.37229055],
       [0.2535866 ],
       [0.8597354 ],
       [0.34024173],
       [0.5935242 ],
       [0.5155793 ],
       [0.36029863],
       [0.25297636],
       [0.90274423],
       [0.52099043],
       [0.8969365 ],
       [0.1425478 ],
       [0.96321106],
       [0.83767813],
       [0.27065235],
       [0.07488529],
       [0.87713253],
       [0.7463897 ],
       [0.25860783],
       [0.7500776 ],
       [0.2714736 ],
       [0.9573649 ],
       [0.16451426],
       [0.18792993],
       [0.28449184],
       [0.02648103],
       [0.81798464],
       [0.47006655],
       [0.65775853],
       [0.26542404],
       [0.31541768],
       [0.2590805 ],
       [0.79335403],
       [0.5853046 ],
       [0.35841218],
       [0.6582001 ],
       [0.9626508 ],
       [0.4688895 ],
       [0.4102248 ],
       [0.31544784],
       [0.8414599 ],
       [0.8551385 ],
       [0.35498556],
       [0.03852963],
       [0.9618998 ],
       [0.2030123 ],
       [0.51719964],
       [0.4264917 ],
       [0.8385099 ],
       [0.8816371 ],
       [0.5584781 ],
       [0.42592865],
       [0.52505606],
       [0.9568392 ],
       [0.6257496 ],
       [0.3316724 ],
       [0.15264596],
       [0.23919043],
       [0.15366167],
       [0.31213507],
       [0.9499363 ],
       [0.7937976 ],
       [0.8890627 ],
       [0.31069154],
       [0.13107343],
       [0.20948221],
       [0.12189921],
       [0.6329493 ],
       [0.88175267],
       [0.3466368 ],
       [0.5863127 ],
       [0.35913232],
       [0.26119736],
       [0.72108495],
       [0.55313706],
       [0.17237583],
       [0.11449441],
       [0.93705684],
       [0.18409912],
       [0.6959415 ],
       [0.13073008],
       [0.9546348 ],
       [0.18128243],
       [0.59433067],
       [0.25328645],
       [0.7988716 ],
       [0.44816208],
       [0.24029864],
       [0.98042756],
       [0.6566218 ],
       [0.5601316 ],
       [0.06260882],
       [0.30008787],
       [0.8385512 ],
       [0.29638836],
       [0.29339737],
       [0.16096826],
       [0.66330343],
       [0.5081482 ],
       [0.8446984 ],
       [0.6468224 ],
       [0.42759112],
       [0.8209915 ],
       [0.9013674 ],
       [0.21657027],
       [0.9111558 ],
       [0.16430326],
       [0.27168536],
       [0.6619123 ],
       [0.79156977],
       [0.06964664],
       [0.73515266],
       [0.39321008],
       [0.44347402],
       [0.11182341],
       [0.901212  ],
       [0.46447513],
       [0.03000198],
       [0.3579313 ],
       [0.6799773 ],
       [0.35197508],
       [0.81444126],
       [0.6760788 ],
       [0.6988251 ],
       [0.17871764],
       [0.36271834],
       [0.91090065],
       [0.9618998 ],
       [0.4060431 ],
       [0.3830875 ],
       [0.9602195 ],
       [0.20980112],
       [0.34024173],
       [0.27522933],
       [0.1844423 ],
       [0.97985005],
       [0.71511394],
       [0.46478498],
       [0.84373313],
       [0.13930231],
       [0.29976884],
       [0.51463395],
       [0.49013582],
       [0.17989735],
       [0.87806374],
       [0.9573649 ],
       [0.21925637],
       [0.41290718],
       [0.19263476],
       [0.2439526 ],
       [0.6258692 ],
       [0.62852436],
       [0.41291517],
       [0.96868795],
       [0.5601316 ],
       [0.20437837],
       [0.2629772 ],
       [0.41068304],
       [0.7500776 ],
       [0.94655126],
       [0.56770647],
       [0.5601316 ],
       [0.56136984],
       [0.41484976],
       [0.9771458 ],
       [0.8857613 ],
       [0.30549288],
       [0.06867987],
       [0.14279169],
       [0.85336554],
       [0.2275355 ],
       [0.9584279 ],
       [0.2452227 ],
       [0.19051717],
       [0.3439272 ],
       [0.26161474],
       [0.72167724],
       [0.03852963],
       [0.50157   ],
       [0.4900237 ],
       [0.35622835],
       [0.34096318],
       [0.18617526],
       [0.69882023],
       [0.98460984],
       [0.9658455 ],
       [0.18792993],
       [0.85375214],
       [0.9314417 ],
       [0.66586107],
       [0.92140514],
       [0.75103885],
       [0.43882796],
       [0.9347877 ],
       [0.02275882],
       [0.6027389 ],
       [0.79604614],
       [0.45481056],
       [0.31786728],
       [0.595326  ],
       [0.33105898],
       [0.7840698 ],
       [0.20510791],
       [0.79912996],
       [0.39057994],
       [0.8414599 ],
       [0.33971748],
       [0.76544523]], dtype=float32)

In [23]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [26]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.70      0.77      0.73       188
           1       0.78      0.70      0.74       212

    accuracy                           0.73       400
   macro avg       0.74      0.74      0.73       400
weighted avg       0.74      0.73      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
You'd need to collect information like age, current income, if they have a guarentor, if they have loans already. This information would give you some insight into their financial stability in as much way as you can without an established credit card history.

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**
Content filtering would be best as you are looking at the specific student and their specific situation however you could also use context filtering by matching them with previous applicants. 

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
Because they are typically just graduating high school and have a limited credit history there just isn't the greatest amount of data that you can course to model. The availability of this data also is not reliable (or possibly legal) and also would be a stumling block in this regard.